<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Dokument</title>
</head>
<body>
<h1>Normalisiertes Tag Cloud für ein Dokument</h1>
<div>
    <form method="GET" enctype="multipart/form-data" action="/batchLane/document">
        <label for="document">Dokument auswählen</label>
        <select id="document" name="filename">
            <option th:each="file : ${files}" th:value="${file}" th:text="${file}">
        </select>
        <input type="submit" value="Generieren"/>
    </form>
</div>
<div>
    <a href="/">Zurück zur Hauptseite</a>
</div>

</body>
</html>